* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.image-section {
    flex: 1;
    height: 100vh;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-section {
    flex: 1;
    height: 100vh;
    background-color: #88ff00;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 200px;
}

form .inputs input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    height: 50px;
    width: 400px;
    padding: 10px;
    margin-bottom: 35px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

form input::placeholder {
    color: #aaa
}

form input:focus {
    outline: none;
    border-color: #12d600;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #142303;
    color: white;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: #339933;
}
