{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles_login.css' %}">
</head>

<body>
    <div class="container">
        <div class="image-section">
            <img src="{% static 'img/frutas.png'%}" alt="Frutas em uma feira" />
        </div>
        <div class="form-section">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="Logo" />
            </div>
            <div class="frase">
                <p>FRESCURA QUE FAZ BEM: DO CAMPO DIRETO PARA A SUA MESA!</p>
            </div>
            <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
                <div class="inputs">
                    <input type="email" id="email" name="email" placeholder="EMAIL:" required />

                    <input type="password" id="senha" name="senha" placeholder="SENHA:" required />
                </div>
                <div class="buttons">
                    <a href="{% url 'cadastro' %}"><button type="button" class="cancel">REGISTRAR</button></a>
                    <button type="submit" class="register">ENTRAR</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>