{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Frutas</title>
    <link rel="stylesheet" href="{% static 'css/carrinho.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{% static 'js/carrinho.js' %}" defer></script>
</head>

<body>
    <header>
        <a href="{% url 'principal' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"/></a>
        <h3>Total do Pedido: R$ {{ total }}</h3>
        <form method="POST" action="{% url 'finalizar_ordem' %}">
            {% csrf_token %}
            <button type="submit" class="finalize-order-button">Finalizar Pedido</button>
        </form>
    </header>

    <main>
        <div class="product-grid">
            {% for item in itensPedido %}
            <div class="product-card" data-item-id="{{ item.id }}">
                <img src="{{item.produto.imagem}}" alt="Maçã Argentina">
                <h3>{{itensPedido.produto.nome}}</h3>
                <p>R$ {{item.total}}</p>
                <div class="qtd-item">
                    <p>Quantidade</p>
                    <div class="modify-qtd">
                        <button><i class="bi bi-plus"></i></button>
                        <input class="qtd" value={{item.quantidade}} readonly></input>
                        <button><i class="bi bi-dash"></i></button>
                    </div>
                </div>
                <form method="POST" action="{% url 'deletar_item_carrinho' item.id %}">
                    {% csrf_token %}
                    <button class="remove-item">Remover</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Hortifruti - Todos os direitos reservados.</p>
        <p>Desenvolvido por Cauã, Gabriel e Mardem</p>
    </footer>
</body>

</html>