{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Frutas</title>
    <link rel="stylesheet" href="{% static 'css/carrinho.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{% static 'js/carrinho.js' %}" defer></script>
    {% tailwind_css %}
</head>

<body>
    <header>
        <nav class="flex flex-row items-center justify-between">
            <a href=" {% url 'produtos' %}"><img src="{% static 'img/logo.svg' %}" alt="Logo" /></a>
            <h3>Total do Pedido: R$ {{ total }}</h3>
            <button id="finalize-order-btn">Finalizar pedido</button>
        </nav>
    </header>

    <main>
        <dialog id="address-form">
            <form action="{% url 'finalizar_pedido' %}" method="POST">
                {% csrf_token %}
                <label for="cep">CEP</label>
                <input type="text" id="cep-input" name="cep-input" placeholder="Ex. 12345000" maxlength="8" required>

                <label for="address">Endereço</label>
                <input type="text" id="address-input" name="address-input" required>

                <label for="number">Número</label>
                <input type="text" id="number-input" name="number-input" placeholder="número ou s/n" required>

                <label for="comp">Complemento (opcional)</label>
                <input type="text" id="comp-input" name="comp-input"
                    placeholder="Apartamento, sala, conjunto, edifício, andar, etc.">

                <label for="neighborhood">Bairro</label>
                <input type="text" id="neighborhood-input" name="neighborhood-input" required>

                <label for="city">Cidade</label>
                <input type="text" id="city-input" name="city-input" required>

                <label for="state">Estado</label>
                <input type="text" id="state-input" name="state-input" required>

                <div id="buttons">
                    <button id="cancel-btn">Cancelar</button>
                    <button id="confirm-btn" type="submit">Confirmar</button>
                </div>
            </form>
        </dialog>

        <div class="product-grid">
            {% for item in itensPedido %}
            <div class="product-card" data-item-id="{{ item.id }}">
                <div id="img-place"><img src="{{item.produto.imagem.url}}" alt={{item.produto.nome}}></div>
                <h3>{{item.produto.nome}}</h3>
                <p>R$ {{item.total}}</p>
                <div class="qtd-item">
                    <p>Quantidade</p>
                    <div class="modify-qtd">
                        <button><i class="bi bi-plus"></i></button>
                        <input class="qtd" value={{item.quantidade}} readonly></input>
                        <button><i class="bi bi-dash"></i></button>
                    </div>
                </div>
                <form method="POST" action="{% url 'deletar_item_carrinho' item.id %}">
                    {% csrf_token %}
                    <button class="remove-item">Remover</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer class="shadow footer">
        <div class="w-full max-w-full mx-auto ">
            <div class="sm:flex sm:items-center sm:justify-between p-4">
                <a class="flex items-center sm:mb-0 space-x-3 rtl:space-x-reverse ">
                    <span class="self-center text-l font-semibold whitespace-nowrap text-xs">Desenvolvido
                        por
                        Cauã, Gabriel e Mardem</span>
                </a>
                <ul class="flex flex-wrap items-center text-xs font-medium  sm:mb-0">
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6">Sobre</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6">Privacidade</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-4 md:me-6">Termos</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contato</a>
                    </li>
                </ul>
            </div>
            <hr class="border-white sm:mx-auto dark:border-white px-4" />
            <span class="mt-4 block text-xs text-white sm:text-center">&copy; 2024 Hortifruti - Todos
                os direitos reservados.
        </div>
    </footer>
</body>

</html>