* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

body {
    background-color: #f8fff4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f7505;
    padding: 15px 20px;
}

header img {
    height: 60px;
}

header h3 {
    color: #fdfdfd;
}

header button {
    background-color: black;
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

header button:hover {
    color: black;
    background-color: white;

}

main {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 16px;
    margin: 5px 0;
}

.qtd-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.qtd-item p {
    font-size: small;
}

.qtd-item .modify-qtd {
    align-items: center;
}

.qtd-item .modify-qtd .qtd {
    width: 40px;
    text-align: center;
    border: none;
    cursor: default;
    font-size: 24px;
}

.qtd-item .modify-qtd button {
    cursor: pointer;
    font-size: 30px;
    border: none;
    background-color: transparent;
}

.product-card form {
    align-self: flex-end;
}

.remove-item {
    background-color: #0f7505;
    border: none;
    width: 100px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.remove-item:hover {
    opacity: 0.8;
}

#address-form {
    top: 15px;
    margin: auto;
    width: 500px;
    justify-items: center;
    flex-direction: column;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    padding: 25px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#address-form::backdrop {
    background-color: rgba(128, 128, 128, 0.6);
}

#address-form label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
}

#address-form input {
    display: flex;
    margin-bottom: 15px;
    width: 400px;
    height: 1.5rem;
    padding: 3px;
}

#confirm-btn,
#cancel-btn {
    background-color: #0f7505;
    border: none;
    width: 100px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

#cancel-btn {
    background-color: red !important;
}

#confirm-btn:hover,
#cancel-btn:hover {
    opacity: 0.8;
}

#buttons {
    display: flex;
    justify-content: space-around;
}


/* Rodapé */
.footer {
    background-color: #0f7505;
    color: #fdfdfd;
    text-align: center;
    padding: 6px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer p {
    margin: 5px 0;
    font-size: 12px;
}