* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

body {
    background-color: #fdfdfd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 60px;
    height: 60px;
}

#search-input {
    width: 400px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #fdfdfd;
}

header {
    background-color: #0f7505;
    padding: 15px 20px;
}

main {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 8px;
    
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-card #img-place {
    height: 180px;
    display: flex;
    align-items: center;
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 16px;
    margin: 5px 0;
}

.product-card .un {
    font-size: small;
    color: #aaa;
}

.product-card .add-item {
    background-color: #0f7505;
    border: none;
    width: 100px;
    padding: 7px 15px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.add-item:hover {
    opacity: 0.7;
}

.hide {
    display: none !important;
}

/* Pop-up */
#pop-up {
    overflow: hidden;
    top: 50px;
    min-height: 300px;
    min-width: 210px;
    margin: auto;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#pop-up::backdrop {
    background-color: rgba(128, 128, 128, 0.6);
}

#pop-up img {
    max-width: 200px;
    margin-bottom: 10px;
}

#pop-up h3 {
    margin-bottom: 10px;
}

.cancel {
    display: flex;
    width: 100%;
    justify-content: right;
}

.qtd-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.qtd-item p {
    font-size: small;
}

.qtd-item .modify-qtd {
    align-items: center;
}

.qtd-item .modify-qtd .qtd {
    width: 40px;
    text-align: center;
    border: none;
    cursor: default;
    font-size: 24px;
}

.qtd-item .modify-qtd button,
.cancel button {
    cursor: pointer;
    font-size: 30px;
    border: none;
    background-color: transparent;
}

.confirm-btn {
    background-color: #0f7505;
    border: none;
    min-width: 100px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.confirm-btn:hover {
    opacity: 0.8;
}

/* Rodapé */
.footer {
    background-color: #0f7505;
    color: #fdfdfd;
    text-align: center;
    padding: 6px 0;
    width: 100%;
    position: relative;
    align-self: flex-end;
}

.footer p {
    margin: 5px 0;
    font-size: 12px;
}