body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8fff4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a8df65;
    padding: 15px 20px;
}

.logo img {
    height: 60px;
}

.search-bar input {
    width: 400px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.user-info {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 16px;
}

.cart-icon {
    margin-right: 5px;
}

.main-content {
    padding: 20px;
}

.product-grid {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.product-card {
    font-family: "Roboto";
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
}

.product-card span {
    font-size: 14px;
    color: #888;
}

.add-to-cart {
    background-color: #a8df65;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #86b852;
}

/* Rodapé */
.footer {
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}