{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hortifruti</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="{% static 'css/produtos.css' %}" />
    <script src="{% static 'js/produtos.js' %}" defer></script>
</head>

<body>
    <header>
        <img src="{% static 'img/logo.svg' %}" alt="Logo" />
        <input id="search-input" type="text" placeholder="Buscar frutas..." />
        <div class="user-info">
            <a href="{% url 'login' %}"><button id="logout-btn"><i class="bi bi-box-arrow-left"></i></button></a>
            <a href="{% url 'carrinho' %}"><button><i class="bi bi-cart"></i></button></a>
            <p>Bem-vindo</p>
        </div>
    </header>

    <main>
        <dialog id="pop-up"></dialog>

        <div class="product-grid">
            {% for produto in produtos %}
            <div class="product-card" data-item-id="{{ produto.id }}">
                <div id="img-place"><img src="{{produto.imagem.url}}" alt="{{produto.nome}}" /></div>
                <h3>{{produto.nome}}</h3>
                <div>
                    <p>R$ <span class="price">{{produto.preco}}</span><span class="un"> un</span></p>
                    <button class="add-item">Adicionar</button>
                </div>
            </div>
            {% empty %}
            <p class="warning">Não há produtos disponíveis.</p>
            {% endfor %}
        </div>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Hortifruti - Todos os direitos reservados.</p>
        <p>Desenvolvido por Cauã, Gabriel e Mardem</p>
    </footer>
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>
</body>

</html>