{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Frutas</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles_p.css' %}">
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'logo.png' %}" alt="Logo" />
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar frutas..." />
        </div>
        <div class="user-info">
            <a href="{% url 'carrinho'}"><span><i class="cart-icon">🛒</i> Meu Carrinho</span></a>
            <span>Bem-vindo, Gabriel</span>
        </div>
    </header>

    <main class="main-content">
        <div class="product-grid">
            {% for produto in produtos %}
            <div class="product-card">
                <img src="{% static 'apple.png' %}" alt="Maçã Argentina">
                <h3>{{produto.nome}}</h3>
                <p>R$ {{produto.preco}} <span>{{produto.estoque}} qtd</span></p>
                <button class="add-to-cart">Adicionar</button>
                {% empty %}
                <li>Não há produtos disponíveis.</li>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Hortifruti - Todos os direitos reservados.</p>
        <p>Desenvolvido por Cauã, Gabriel e Mardem</p>
    </footer>
</body>

</html>